table {
   border: 1px solid black;
}
/* границы ячеек первого ряда таблицы */
th {
   border: 1px solid black;
}
/* границы ячеек тела таблицы */
td {
   border: 1px solid black;
}

p {
  color: blue;
}
