{% extends 'base.html' %}

{% block title %} {{title.title}} {% endblock %}

{% block content %}
	{% if title %}
		<div>
			<a class="backbutton" href="{% url 'tseditor:title' title.parent_id %}">Назад</a><br><br>
			{{title.title}}<br>
			{% if title.command %}
				Команда: {{ title.command }}
			{% else %}
				Команда не задана
			{% endif %}<br>
			{% if content.content_text %}
				Текст сообщения: <i>{{ content.content_text }}</i>
			{% else %}
				Без текста
			{% endif %}<br>
			{% include 'update_title_form.html' with form=title_form title_id=title.title_id %}<br>
			<a class="backbutton" href="{% url 'tseditor:delete_title' title.title_id %}">Удалить</a>
			<a class="backbutton" href="{% url 'tseditor:add_title' title.title_id%}">Новый пункт</a><br>
			
		</div><hr>
	{% endif %}
	<div>

		{% if devices %}
			<div>
				Устройства:<br>
				{% for device in devices %}
					<div class="device-block"><a href="{% url 'showdb:edit_device_form' device.serial_number %}">{{ device.serial_number }}</a>: {{ device.device_name }}</div>
				{% endfor %}
			</div><br>
				
			{% endif %}

		{% if subtitles %}
			<div>
				Подпункты меню:<br>
				{% for subtitle in subtitles %}
					<div class="subtitle-block"><a href="{% url 'tseditor:title' subtitle.title_id %}">{{subtitle.title}}</a><br> Команда: {{ subtitle.command }}</div>
				{% endfor %}
			</div>
		{% else %}
			Нет подпунктов меню.
		{% endif %}
	</div><br>
	{% if title %}
		{% if files %}
			<div>
				<table class="file-table">
				<tr><th>Название</th><th>Автор</th><th>Дата загрузки</th></tr>
				{% for file in files %}
					<tr><td>{{ file.namef }}</td><td>{{ file.author }}</td><td>{{ file.load_date }}</td>
					<td><a href="{% url 'tseditor:edit_document' title.title_id file.uuid %}">Редактировать</a></td>
					<td><a href="{% url 'tseditor:unbound_file' title.title_id file.uuid %}">Открепить</a></td>
					<td><a href="{% url 'tseditor:delete_file' file.uuid title.title_id %}">Удалить</a></td>
				</tr>
				{% endfor %}
				</table>
			</div>
		{% else %}
			Нет файлов для этого пункта меню.
		{% endif %}
		<br>
		{% include 'tseditor/add_file_form.html' with file_form=file_form select_form=select_form titleid=title.title_id %}
		<br>
	{% endif %}




{% endblock %}