<style type="text/css">
	#bond-form {
		display: none;
	}

	.form-radio {
	margin-bottom: 10px;

	& input[type=radio] {
		width: 15px;
	}
	& label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		line-height: 18px;
		user-select: none;
		}
	}
</style>

<script language="javascript">
function switch_form(kf){
	var bond_form = document.getElementById("bond-form");
	var load_form = document.getElementById("load-form");
	if (kf == 1){
		bond_form.style.display = "none";
		load_form.style.display = "inline";
	} else if (kf == 2){
		bond_form.style.display = "inline";
		load_form.style.display = "none";
	}

}
</script>

<!-- <script language="javascript">
function CreateRequest()
{
    var Request = false;

    if (window.XMLHttpRequest)
    {
        //Gecko-совместимые браузеры, Safari, Konqueror
        Request = new XMLHttpRequest();
    }
    else if (window.ActiveXObject)
    {
        //Internet explorer
        try
        {
             Request = new ActiveXObject("Microsoft.XMLHTTP");
        }    
        catch (CatchException)
        {
             Request = new ActiveXObject("Msxml2.XMLHTTP");
        }
    }
 
    if (!Request)
    {
        alert("Невозможно создать XMLHttpRequest");
    }
    
    return Request;
} 


/*
Функция посылки запроса к файлу на сервере
r_method  - тип запроса: GET или POST
r_path    - путь к файлу
r_args    - аргументы вида a=1&b=2&c=3...
r_handler - функция-обработчик ответа от сервера
*/
function SendRequest(r_method, r_path, r_args, r_handler)
{
    //Создаём запрос
    var Request = CreateRequest();
    
    //Проверяем существование запроса еще раз
    if (!Request)
    {
        return;
    }
    
    //Назначаем пользовательский обработчик
    Request.onreadystatechange = function()
    {
        //Если обмен данными завершен
        if (Request.readyState == 4)
        {
            //Передаем управление обработчику пользователя
            r_handler(Request);
        }
    }
    
    //Проверяем, если требуется сделать GET-запрос
    if (r_method.toLowerCase() == "get" && r_args.length > 0)
    r_path += "?" + r_args;
    
    //Инициализируем соединение
    Request.open(r_method, r_path, true);
    
    if (r_method.toLowerCase() == "post")
    {
        //Если это POST-запрос
        
        //Устанавливаем заголовок
        Request.setRequestHeader("Content-Type","application/x-www-form-urlencoded; charset=utf-8");
        //Посылаем запрос
        Request.send(r_args);
    }
    else
    {
        //Если это GET-запрос
        
        //Посылаем нуль-запрос
        Request.send(null);
    }
} 



function ReadFile(filename, container)
{
    //Создаем функцию обработчик
    var Handler = function(Request)
    {
        document.getElementById(container).innerHTML = Request.responseText;
    }
    
    //Отправляем запрос
    SendRequest("GET",filename,"",Handler);
    
}

function test() {
	alert("TEST")
}

</script> -->

<script>
	$(document).ready(function () { 
		$("#filter-field").keyup( function (){
			var filter_text = this.value;
			console.log(filter_text);
			$.ajax({
			    url: "/ajax_filter_files",
			    type: "POST",
			    data: {
			    	text: filter_text,
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
			    // cache:false,
			    // dataType: "json",
			    success: function(resp){
			        console.log ("resp: " + resp);
			        console.log ("---")
			        console.log ($("#filter-input").val())
			    },
			    error: function(resp){
			    	alert ("Something wrong.")
			    }
			});
		});
	}); 
</script>

<div class="main-div-form">
	<table><tr><td>
	<div class="form-radio">
		<legend>Добавить файл</legend><hr>
		<div>
			<input type="radio" id="lf" name="af" value="lf" checked onclick="switch_form(1)"/>
			<label for="lf">Загрузить новый</label>
		</div>
		<div>
			<input type="radio" id="bf" name="af" value="bf" onclick="switch_form(2)"/>
			<label for="bf">Привязать существующий</label>
		</div>
	</div>
	<hr>
	</td></tr>

	<tr><td>
	<form id="load-form" action="{% url 'showdb:upload_file' number backlink %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<h4>Добавить файл</h4>
		<div class="form-error">{{ file_form.non_field_errors }}</div>
		{% for field in file_form %}
			<div>
				{{ field.label}}<br>
				{{ field }}
			</div>
		{% endfor %}
		<button class="backbutton" type="submit">Добавить</button>
	</form>
	</td></tr>
	<tr><td>
	<form id="bond-form" action="{% url 'showdb:bond_file' number backlink %}" method="POST">
		{% csrf_token %}

		<h4>Добавить файл</h4>
		<div class="form-error">{{ select_form.non_field_errors }}</div>
		{% for field in select_form %}
			<div>
				{{ field.label}}<br>
				{{ field }}
			</div>
		{% endfor %}
		<div><input id='filter-field' type="text"></div>
		<button class="backbutton" type="submit">Добавить</button>
	</form>
	</td></tr></table>
</div>