{% extends 'base.html' %}

{% block title %}Датчики{% endblock %}

{% block style %}
	
{% endblock %}

{% block content %}
	
	{% if filter_form %}
			<div class="filters">
				<form action="{% url 'showdb:devices' %}" method="POST">
					{% csrf_token %}
					<div class="form-error">{{ text }}</div>
						<h3>Фильтры:</h3>
						<hr>
						{% for field in filter_form %}
							<div class="filter-field">
								{{ field.label}}<br>
								{{ field }}
							</div>
						{% endfor %}
					<button class="filter-btn" type="submit">Применить</button>
				</form>
			</div>
		{% endif %}

	<h2>Датчики</h2><hr>

	<p><a class="backbutton" href="{% url 'showdb:add_device_form' %}"><b>Добавить</b></a></p>

	{% if devices %}
		<div class="content">
			<p>Количество: {{ devices|length }}</p>
			{% for device in devices %}
				<div class="cell">
					Заводской номер: <a href="{% url 'showdb:edit_device_form' device.serial_number %}">{{device.serial_number}}</a><br>
					<hr>
					Станция: {% if device.station_number %}<a href="{% url 'showdb:edit_station_form' device.station_number.serial_number %}">{{device.station_number.serial_number}}</a>{% else %}Без станции.{% endif %}<br>
					Название: {{device.device_name}}<br>
					<a href="{% url 'showdb:edit_mkcb_form' device.mkcb %}">{{device.mkcb}}</a><br>
					Отгружен: {{device.date_out}}, {{device.org}}<br>
				</div>
			{% endfor %}
		</div>
	{% else %}
		Нет устройств.
	{% endif %}


{% endblock %}