{% extends 'base.html' %}

{% block title %}Документы{% endblock %}

{% block content %}

	<h3>Документы</h3>
	
	<p><a href="{% url 'showdb:add_document' %}"><b>Добавить документ</b></a></p>

	{% if files %}
		<p>Количество: {{ files|length }}</p>
		<table>
		<tr><th>id</th><th>Название</th><th>Тип документа</th><th>Автор</th><th>Дата загрузки</th></tr>
		{% for file in files %}
			<tr><td>0</td>
				<td>{{ file.namef }}</td>
				<td>{{ file.typef }}</td>
				<td>{{ file.author }}</td>
				<td>{{ file.load_date }}</td>
				<td><a href="{% url 'showdb:edit_document' file.uuid %}">edit</a></td>
				<td><a href="{% url 'showdb:delete_document' file.uuid %}">delete</a></td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		Нет документов.
	{% endif %}


{% endblock %}