{% extends 'base.html' %}

{% block title %}Станции{% endblock %}

{% block style %}
	
{% endblock %}

{% block content %}

	{% if filter_form %}
		<div class="filters">
			<form action="{% url 'showdb:stations' %}" method="POST">
				{% csrf_token %}
				<div class="form-error">{{ text }}</div>
					<h3>Фильтры:</h3><hr>
					{% for field in filter_form %}
						<div class="filter-field">
							{{ field.label}}<br>
							{{ field }}
						</div>
					{% endfor %}
				<button class="filter-btn" type="submit">Применить</button>
			</form>
		</div>
	{% endif %}
	<h2>Станции</h2><hr>
	
	<p><a class="backbutton" href="{% url 'showdb:add_station_form' %}"><b>Добавить станцию</b></a></p>

	{% if stations %}
		<div class='content'>
			<p>Количество: {{ stations|length }}</p>
			{% for station in stations %}
				<div class='cell'>
					Заводской номер: <a href="{% url 'showdb:edit_station_form' station.serial_number %}">{{station.serial_number}}</a>
					<hr>
					<a href="{% url 'showdb:edit_mkcb_form' station.mkcb %}">{{station.mkcb}}</a><br>
					Отгружен: {{station.date_out}}, {{station.org}}<br>
				</div>
			{% endfor %}
		</div>
	{% else %}
		Нет станций.
	{% endif %}


{% endblock %}