{% extends 'base.html' %}

{% block title %}Станции{% endblock %}

{% block style %}
	<style>
      /*html, body {
      min-height: 100%;
      }
      body, div, form, input, select { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }*/

      /*.filters {
      display: flex;
      float: right;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 3px;
      }
      .filters {
      width: 100%;
      padding: 20px;
      background: #fff;
      box-shadow: 0 2px 5px #ccc; 
      }*/
      input {
      width: calc(100% - 10px);
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      vertical-align: middle;
      }
      input:hover, textarea:hover, select:hover {
      outline: none;
      border: 1px solid #095484;
      background: #e6eef7;
      }

      select {
      padding: 7px 0;
      border-radius: 3px;
      border: 1px solid #ccc;
      background: transparent;
      }
      select {
      width: 100%;
      }

      select, input {
      	margin-bottom: 10px;
      }
      option {
      background: #f8f8ff;
      border-radius: 8px;
      }

      .btn-block {
      margin-top: 20px;
      text-align: center;
      }


      .filter-btn {
      width: 150px;
      padding: 10px;
      border: none;
      -webkit-border-radius: 5px; 
      -moz-border-radius: 5px; 
      border-radius: 5px; 
      background-color: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }

      .filter-btn:hover{
      background-color: #0666a3;
      font-size: 16px;
      color: #fff;
  }
    </style>
{% endblock %}

{% block content %}

	{% if filter_form %}
		<div class="filters">
			<form action="{% url 'showdb:stations' %}" method="POST">
				{% csrf_token %}
				<div class="form-error">{{ text }}</div>
					<h3>Фильтры:</h3><hr>
					{% for field in filter_form %}
						<div class="filter-field">
							{{ field.label}}<br>
							{{ field }}
						</div>
					{% endfor %}
				<button class="filter-btn" type="submit">Применить</button>
			</form>
		</div>
	{% endif %}
	<h2>Станции</h2><hr>
	
	<p><a class="btn" href="{% url 'showdb:add_station_form' %}"><b>Добавить станцию</b></a></p>

	{% if stations %}
		<div class='content'>
			<p>Количество: {{ stations|length }}</p>
			{% for station in stations %}
				<div class='cell'>
					Заводской номер: <a href="{% url 'showdb:edit_station_form' station.serial_number %}">{{station.serial_number}}</a>
					<hr>
					<a href="{% url 'showdb:edit_mkcb_form' station.mkcb %}">{{station.mkcb}}</a><br>
					Отгружен: {{station.date_out}}, {{station.org}}<br>
				</div>
			{% endfor %}
		</div>
	{% else %}
		Нет станций.
	{% endif %}


{% endblock %}